<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry</title>
    <link rel="stylesheet" href="../css/Login.css">
</head>
<body>
<div class="container">
    <h1>Reservation Inquiry</h1>
    <form action="/result" method="post">
        <label for="TC">TC NO</label>
        <input type="number" id="TC" name="TC" placeholder="Lütfen tc kimlik numaranızı giriniz !!!" required>
        <button type="submit">Inquiry</button>
    </form>
    <div class="error" th:if="${error}" th:text="${error}"></div>
</div>
</body>
</html>
