<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking App</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div class="container">
    <h1 class="montserrat-head">HOTEL BOOKING</h1>
    <div class="button-container">
        <!-- Booking Button -->
        <a href="/booking" class="button">Booking</a>

        <!-- Sign In Button -->
        <a href="/login" class="button">Employee Login</a>

        <!-- Sign In Button -->
        <a href="/inquiry" class="button">Customer Service</a>

    </div>
</div>
</body>
</html>
